<ul>
  <li><%= link_to "add a new pin", pins_new_path %></li>
  <% @pins.each do |pin| %>
    <li><%= pin.name %><br><%= image_tag pin.image %><br><%= link_to "pin_this", board_pins_path(id: pin.id) %> </li>
  <% end %>
</ul>